* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}
table {
  border-collapse: collapse;
}

table td,
table th {
  border: 1px solid #000;
  width: 80px;
  height: 80px;
}

table th,
table .day {
  background: #99ccff;
  font-weight: 600;
  height: 60px;
}

table td {
  text-align: center;
}

table .title {
  font-size: 24px;
}

table .schedule {
  background: #ccccff;
}
